body { 
	overflow:hidden;
}
.content { 
	width:100%;
	height:100%;
	position:absolute;
	background-image:url(images/landing_page.png);
	background-repeat:no-repeat;
	background-size:cover;
	display: flex;
	justify-content: center;
}
.H_Back { 
	box-shadow:14px 34px 29px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:90%;
	height:fit-content;
	margin-top: 70px;
	padding: 40px;
	margin: 40px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.Icon-menu{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.H_Left {
	display: flex;
}
.H_Rigt {
	display: flex;
	position: relative;
	right: 0;
}
.I_Home { 
	display: flex;
	justify-content: center;
	align-items: center;
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:40px;
	font-family:Inter;
	font-size:12px;
	letter-spacing:0;
}
.I_Exib { 
	display: flex;
	justify-content: center;
	align-items: center;
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:40px;
	font-family:Inter;
	font-size:12px;
	letter-spacing:0;
}
.I_Cura { 
	display: flex;
	justify-content: center;
	align-items: center;
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:40px;
	font-family:Inter;
	font-size:12px;
	letter-spacing:0;
}
.I_Evnt { 
	display: flex;
	justify-content: center;
	align-items: center;
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:40px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.I_Logo { 
	text-align: center;
	top: 87px;
	color:rgba(0, 0, 0, 1);
	width:85px;
	height:40px;
	font-family:Inter;
	font-size:20px;
}
.I_Logn { 
	background-color:rgba(203.99998784065247, 255, 0, 1);
	font-size: 0.7em;
	width:100px;
	height:40px;
	text-align: center;
	line-height: 40px;
	position:relative;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.I_Sign { 
	background-color:rgba(201.8750050663948, 201.8750050663948, 201.8750050663948, 1);
	font-size: 0.7em;
	text-align: center;
	line-height: 40px;
	width:100px;
	height:40px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}

.content-box{
	display: flex;
	gap: 20px;
	width: 100%;
	margin-top: 40px;
	background-color: rgba(204, 255, 0, 0.164);
	height: fit-content;
	text-align: center;
	line-height: 70vh;
}
