/*************************************CONTENTs STYLE**********************************/
/* 바디 스크롤 및 크기 설정 */
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1547304206-e2e68bae3729?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}
/********************* 바디 스크롤바 설정 시작 *********************/
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
  /********************* 바디 스크롤바 설정 끝 *********************/
.landing_page_13_15 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  
}
/********************* 백그라운드 박스 설정 시작 *********************/
  .b_box_65_4 {
box-shadow: 14px 34px 29px rgba(0, 0, 0, 0.25);
background-color: rgba(255, 255, 255, 1);
width: calc(100% - 500px);
height: calc(100% - 400px);
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
/********************* 백그라운드 박스 설정 끝 *********************/
	    .landing_page_13_15 {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 100vh;
			position: absolute;
			background-image: url(../images/landing_page.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
	    
	    .loginform {
			background-color: rgba(255, 255, 255, 1);
			border-top-left-radius: 30px;
			border-top-right-radius: 30px;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
			padding: 10px;
		 
		}
	    
	    .content {
	    	display: flex;
	    	justify-content: center;
	    	align-items: center;
			position: absolute;
			top: 100px;
			left: 2em;
			width: calc(100% - 4em);
			height: 83%;
			overflow: scroll;
			overflow-x: hidden;
			font-family: Inter;
		}
		
	    .button {
	      	background-color: rgba(203.99998784065247, 255, 0, 1);

			margin: 0;
			padding: 0.5rem 1rem;
			
			font-family: Inter;
			font-size: .8rem;
			font-weight: 400;
			text-align: center;
			text-decoration: none;
			
			display: inline-block;
			width: auto;
			
			border: none;
			border-radius: 20px;
		}