/*************************************CONTENTs STYLE**********************************/
body {
  overflow: hidden;
}
.landing_page_13_15 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(../images/landing_page.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.b_box_65_4 {
  box-shadow: 14px 34px 29px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  position: absolute;
  left: 50px;
  top: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.back_13_25 {
  background-color: rgba(
    225.24999797344208,
    225.24999797344208,
    225.24999797344208,
    1
  );
  width: 1563px;
  height: 650px;
  position: absolute;
  left: 70px;
  top: 148px;
}
.xibit_13_21 {
  color: rgba(0, 0, 0, 1);
  width: 44px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 2em;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.sign_up_13_23 {
  background-color: rgba(
    201.8750050663948,
    201.8750050663948,
    201.8750050663948,
    1
  );
  width: 100px;
  height: 40px;
  position: absolute;
  right: 8.8em;
  top: 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sign_up_13_24 {
  color: rgba(0, 0, 0, 1);
  width: 41px;
  height: 13px;
  position: absolute;
  left: 30px;
  top: 13px;
  font-family: Inter;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0;
}
.home_13_17 {
  color: rgba(0, 0, 0, 1);
  width: 34px;
  height: 15px;
  position: absolute;
  left: 4em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.exhibition_13_18 {
  color: rgba(0, 0, 0, 1);
  width: 56px;
  height: 15px;
  position: absolute;
  left: 10em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.curator_13_19 {
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: 15px;
  position: absolute;
  left: 18em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.event_13_20 {
  color: rgba(0, 0, 0, 1);
  width: 32px;
  height: 15px;
  position: absolute;
  left: 26em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.sign_up_82_67 {
  background-color: rgba(203.99998784065247, 255, 0, 1);
  width: 100px;
  height: 40px;
  position: absolute;
  right: 2em;
  top: 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.login_82_68 {
  color: rgba(0, 0, 0, 1);
  width: 30px;
  height: 13px;
  position: absolute;
  left: 35px;
  top: 13px;
  font-family: Inter;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0;
}
.content {
  position: absolute;
  top: 100px;
  left: 2em;
  width: calc(100% - 4em);
  height: 83%;
  overflow: scroll;
  background-color: rgba(203.99998784065247, 255, 0, 0.3);
  display: flex;
}

@media (max-width: 1000px) {
  .b_box_65_4 {
    display: flex;
	justify-content: space-between;
 }
  .home_13_17{
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .exhibition_13_18 {
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .b_box_65_4 {
    display: flex;
  }
  .curator_13_19{
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .event_13_20{
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .xibit_13_21{
	color: rgb(255, 255, 255);
	width: 44px;
	height: 24px;
	position: relative;
	top: 51em;
	right: 0;
	font-family: Inter;
	font-size: 12px;
	letter-spacing: 0;	
  }
}

/*********************************** EXHIBITION TAB STYLE *************************************************/

.location_9_113 { 
  display: flex;
  justify-content: center;
  align-items: center;
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:30px;
	position:absolute;
	left:1em;
	top:1em;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.location_9_113 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.___9_114 { 
	color:rgba(0, 0, 0, 1);
	left:2;
	top:2vh;
	font-family:Inter;
	text-align:center;
	font-size:0.5em;
	letter-spacing:0;
}
.genre_9_115 { 
  display: flex;
  justify-content: center;
  align-items: center;
	background-color:rgba(255, 255, 255, 1);
	width:100px;
	height:30px;
	position:absolute;
	left:4em;
	top:1em;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.genre_9_115 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.___9_116 { 
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:center;
	font-size:0.5em;
	letter-spacing:0;
}
.continue_9_145 { 
	width:139px;
	height:35px;
  position: absolute;
  top: 20px;
  left: 47%;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.__________9_146 { 
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:center;
	font-size:0.8em;
	letter-spacing:0;
}
.newest_9_143 {
  display: flex;
  justify-content: center;
  align-items: center; 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:30px;
	position:absolute;
  top: 1em;
  right: 1em;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
}
.newest_9_143 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.____9_144 { 
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.scroll_9_139 { 
	width:1562px;
	height:642px;
	overflow: scroll;
}
.component_8_121_36 { 
	width:1562px;
	height:352px;
	position:absolute;
	left:0px;
	top:20px;
}
.component_1_121_35 { 
	width:200px;
	height:352px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_1_i121_35_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_35_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_35_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_2_121_10 { 
	width:200px;
	height:352px;
	position:absolute;
	left:227px;
	top:0px;
}
.frame_1_i121_10_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_10_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_10_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_3_121_14 { 
	width:200px;
	height:352px;
	position:absolute;
	left:454px;
	top:0px;
}
.frame_1_i121_14_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_14_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_14_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_4_121_18 { 
	width:200px;
	height:352px;
	position:absolute;
	left:681px;
	top:0px;
}
.frame_1_i121_18_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_18_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_18_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_5_121_22 { 
	width:200px;
	height:352px;
	position:absolute;
	left:908px;
	top:0px;
}
.frame_1_i121_22_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_22_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_22_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_6_121_26 { 
	width:200px;
	height:352px;
	position:absolute;
	left:1135px;
	top:0px;
}
.frame_1_i121_26_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_26_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_26_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_7_121_30 { 
	width:200px;
	height:352px;
	position:absolute;
	left:1362px;
	top:0px;
}
.frame_1_i121_30_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_30_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_30_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_9_121_40 { 
	width:1562px;
	height:352px;
	position:absolute;
	left:0px;
	top:402px;
}
.component_1_i121_40_121_35 { 
	width:200px;
	height:352px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_1_i121_40_121_35_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_40_121_35_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_40_121_35_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_2_i121_40_121_10 { 
	width:200px;
	height:352px;
	position:absolute;
	left:227px;
	top:0px;
}
.frame_1_i121_40_121_10_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_40_121_10_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_40_121_10_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_3_i121_40_121_14 { 
	width:200px;
	height:352px;
	position:absolute;
	left:454px;
	top:0px;
}
.frame_1_i121_40_121_14_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_40_121_14_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_40_121_14_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_4_i121_40_121_18 { 
	width:200px;
	height:352px;
	position:absolute;
	left:681px;
	top:0px;
}
.frame_1_i121_40_121_18_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_40_121_18_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_40_121_18_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_5_i121_40_121_22 { 
	width:200px;
	height:352px;
	position:absolute;
	left:908px;
	top:0px;
}
.frame_1_i121_40_121_22_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_40_121_22_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_40_121_22_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_6_i121_40_121_26 { 
	width:200px;
	height:352px;
	position:absolute;
	left:1135px;
	top:0px;
}
.frame_1_i121_40_121_26_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_40_121_26_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_40_121_26_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_7_i121_40_121_30 { 
	width:200px;
	height:352px;
	position:absolute;
	left:1362px;
	top:0px;
}
.frame_1_i121_40_121_30_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.frame_8_i121_40_121_30_9_93 { 
	width:200px;
	height:35px;
	position:absolute;
	left:0px;
	top:317px;
}
.______________________i121_40_121_30_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	position:absolute;
	left:27px;
	top:11px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}

