/*************************************contents**********************************/
/* 바디 스크롤 및 크기 설정 */
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1547304206-e2e68bae3729?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  font-size: 11pt;
}
/********************* 바디 스크롤바 설정 시작 *********************/
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
  /********************* 바디 스크롤바 설정 끝 *********************/
.landing_page_13_15 {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
/********************* 백그라운드 박스 설정 시작 *********************/
.b_box_65_4 {
  background-color: rgba(255, 255, 255, 1);
  width: calc(100% - 100px);
  height: calc(100vh - 100px);
  border: 1px inset;
  position: absolute;
  left: 50px;
  top: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 100px;
}
/********************* 백그라운드 박스 설정 끝 *********************/
.back_13_25 {
  background-color: rgba(
    225.24999797344208,
    225.24999797344208,
    225.24999797344208,
    1
  );
  width: 1563px;
  height: 650px;
  position: absolute;
  left: 70px;
  top: 148px;
}
.xibit_13_21 {
  color: rgba(0, 0, 0, 1);
  width: 44px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 2em;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.sign_up_13_23 {
  background-color: rgba(
    201.8750050663948,
    201.8750050663948,
    201.8750050663948,
    1
  );
  width: 100px;
  height: 40px;
  position: absolute;
  right: 9.5em;
  top: 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sign_up_13_24 {
  color: rgba(0, 0, 0, 1);
  width: 41px;
  height: 13px;
  position: absolute;
  left: 30px;
  top: 13px;
  font-family: Inter;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0;
}
.home_13_17 {
  color: rgba(0, 0, 0, 1);
  width: 34px;
  height: 15px;
  position: absolute;
  left: 4em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.exhibition_13_18 {
  color: rgba(0, 0, 0, 1);
  width: 56px;
  height: 15px;
  position: absolute;
  left: 10em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.info_13_19 {
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: 15px;
  position: absolute;
  left: 18em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.event_13_20 {
  color: rgba(0, 0, 0, 1);
  width: 32px;
  height: 15px;
  position: absolute;
  left: 26em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
  .booth_13_21{
  color: rgba(0, 0, 0, 1);
  width: 32px;
  height: 15px;
  position: absolute;
  left: 32em;
  top: 4em;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
  }

.sign_up_82_67 {
  background-color: rgba(203.99998784065247, 255, 0, 1);
  width: 100px;
  height: 40px;
  position: absolute;
  right: 2em;
  top: 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.login_82_68 {
  color: rgba(0, 0, 0, 1);
  width: 30px;
  height: 13px;
  position: absolute;
  left: 35px;
  top: 13px;
  font-family: Inter;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0;
}
.content {
  position: absolute;
  top: 100px;
  left: 2em;
  width: calc(100% - 4em);
  height: 83%;
  overflow: scroll;
  overflow-x: hidden;
}
.content_login {
   	display: flex;
   	justify-content: center;
   	align-items: center;
	position: absolute;
	top: 50px;
	left: 2em;
	width: calc(100% - 4em);
	height: 83%;
	overflow: scroll;
	overflow-x: hidden;
	font-family: Inter;	
}
.content_member {
   	display: flex;
   	justify-content: center;
   	align-items: center;
	position: absolute;
	top: 50px;
	left: 2em;
	width: calc(100% - 4em);
	height: 83%;
	overflow: scroll;
	overflow-x: hidden;
	font-family: Inter;	
}
.content::-webkit-scrollbar {
    width: 10px;
}
.content::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.content::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
  /*********************************** 캐러셀 박스 구현 시작 ***********************************/
.window{
  	position: absolute;
  	top: 20px;
  	left: 48px;
  }
.content-box {
	width: 100%;
  	position: absolute;
  	top: 100px;
}
.carousel_box {
	width: 650px;
	height: 650px;
	overflow: hidden;
	margin:0 auto;
}
.flexplz{
	display: flex;
	transition: all 3s;
}
.flexplz img {
	width: 650px;	
	object-fit: cover;
}
/*********************************** 캐러셀 박스 구현 끝 ***********************************/

/******************** 반응형 웹 구현 시작(미디어 쿼리) *************************************************/
@media screen and (max-width: 1400px), (max-height: 800px) {
	.carousel_box {
		width: 400px;
		height: 400px;
		overflow: hidden;
		margin:0 auto;
	}
	.flexplz img {
		width: 400px;	
		object-fit: cover;
	}
	.b_box_65_4 {
	    display: flex;
		justify-content: space-between;
	 }
	.home_13_17{
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .exhibition_13_18 {
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .b_box_65_4 {
    display: flex;
  }
  .info_13_19{
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .event_13_20{
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .booth_13_21{
    color: rgba(0, 0, 0, 1);
    width: 56px;
    height: 15px;
    font-family: Inter;
    text-align: left;
    font-size: 10px;
    letter-spacing: 0;
  }
  .xibit_13_21{
	color: rgb(255, 255, 255);
	width: 44px;
	height: 24px;
	position: relative;
	top: 51em;
	right: 0;
	font-family: Inter;
	font-size: 12px;
	letter-spacing: 0;	
  }
}
/******************** 반응형 웹 구현 끝 *************************************************/

/*********************************** EXHIBITION TAB STYLE *************************************************/
.location_9_113 { 
  display: flex;
  justify-content: center;
  align-items: center;
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:25px;
	position:fixed;
	left:95px;
	top:161px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
	z-index: 100;
}
.location_9_113 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.___9_114 { 
	color:rgba(0, 0, 0, 1);
	left:2;
	top:2vh;
	font-family:Inter;
	text-align:center;
	font-size:0.5em;
	letter-spacing:0;
}
.genre_9_115 { 
  display: flex;
  justify-content: center;
  align-items: center;
	background-color:rgba(255, 255, 255, 1);
	width:100px;
	height:25px;
	position:fixed;
	left:145px;
	top:161px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
	z-index: 100;
}
.genre_9_115 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.___9_116 { 
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:center;
	font-size:0.5em;
	letter-spacing:0;
}
.continue_9_145 { 
	display: flex;
	justify-content: center;
	align-items: center;
	width:139px;
	height:35px;
	position:fixed;
	left:46%;
	top:163px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
	z-index: 100;
}
.__________9_146 { 
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:center;
	font-size:0.8em;
	letter-spacing:0;
}
.newest_9_143 {
  display: flex;
  justify-content: center;
  align-items: center; 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:25px;
	position:fixed;
	right:100px;
	top:161px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
	z-index: 100;
}
.newest_9_143 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.____9_144 { 
	color:rgba(0, 0, 0, 1);
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.scroll_9_139 { 
	width:100%;
	height: 100vh;
	background-color: aqua;
	display: flex;
	flex-direction: column;
}
.component_8_121_36 {  
	width: 100%;
	position: absolute;
	top:80px;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;

}
.component_1_121_35 { 
	width:200px;
	height:352px;
}
.img{
	width: 200px;
	height: 300px;
	background-color:rgb(0, 0, 0);
}
.frame_1_i121_35_9_67 { 
	width:200px;
	height:300px;
}
.frame_8_i121_35_9_93 { 
	width:200px;
	height:35px;
}
.______________________i121_35_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_2_121_10 { 
	width:200px;
	height:352px;
}
.frame_1_i121_10_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
}
.frame_8_i121_10_9_93 { 
	width:200px;
	height:35px;
}
.______________________i121_10_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_3_121_14 { 
	width:200px;
	height:352px;
}
.frame_1_i121_14_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
}
.frame_8_i121_14_9_93 { 
	width:200px;
	height:35px;
}
.______________________i121_14_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_4_121_18 { 
	width:200px;
	height:352px;
}
.frame_1_i121_18_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
}
.frame_8_i121_18_9_93 { 
	width:200px;
	height:35px;
}
.______________________i121_18_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_5_121_22 { 
	width:200px;
	height:352px;
}
.frame_1_i121_22_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
}
.frame_8_i121_22_9_93 { 
	width:200px;
	height:35px;
}
.______________________i121_22_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_6_121_26 { 
	width:200px;
	height:352px;
}
.frame_1_i121_26_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
}
.frame_8_i121_26_9_93 { 
	width:200px;
	height:35px;
}
.______________________i121_26_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.component_7_121_30 { 
	width:200px;
	height:352px;
}
.frame_1_i121_30_9_67 { 
	background-color:rgba(225.24999797344208, 225.24999797344208, 225.24999797344208, 1);
	width:200px;
	height:300px;
}
.frame_8_i121_30_9_93 { 
	width:200px;
	height:35px;
}
.______________________i121_30_9_100 { 
	color:rgba(0, 0, 0, 1);
	width:146px;
	height:13px;
	font-family:Inter;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
/***************************** table style *****************************/
.info_content{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.info_tb_container{
	width: 80%;
}
table {
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
}
th, td {
	border-bottom: 1px solid rgb(220, 220, 220);
	padding-top: 20px;
	padding-bottom: 20px;
}
.info_tb{
	font-size: 10pt;
}
.info_tb th{
	text-align: left;
	font-weight: bold;
}
/* 인포메이션 탭 */
.in_content{
  position: absolute;
  top: 100px;
  left: 2em;
  width: calc(100% - 4em);
  height: 83%;
  overflow: hidden;
}
.fa_qna{
	color: rgba(203.99998784065247, 255, 0, 1);
	background-color: black;
	padding: 2px;
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 10px;
}
.info_qna_h{
	font-size: 11.5pt;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 15px;
}
.info_qna_d{
	font-size: 9pt;
	margin-bottom: 10px;
}
.info_tb_search{
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
}
.button {
    background-color: rgba(203.99998784065247, 255, 0, 1);

	margin: 0;
	padding: 0.5rem 1rem;
	
	font-family: Inter;
	font-size: .8rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	width: auto;
	
	border: none;
	border-radius: 20px;
}
.loginform {
	background-color: rgba(255, 255, 255, 1);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 10px;
	border: solid 0.1rem #000000;
	margin-bottom: 1rem;
}

/* notice */
select::-ms-expand { 
	display: none;
}

.select {
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
	background-size: 20px;
	padding: 5px 30px 5px 10px;
	border-radius: 4px;
	outline: 0 none;
}

.select option {
	background: black;
	color: #fff;
	padding: 3px 0;
}